!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title="#{edition}. #{t.meta.name}"
    %meta{:name => "author", :content => "#{t.meta.author}"}
    %meta{:name => "description", :content => "#{t.meta.description}"}
    %link{:href => "assets/plugin.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/custom.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "assets/13sesja.css", :rel => "stylesheet", :type => "text/css"}
    = partial :opengraph, :layout => false, :locals => { :edition => edition }
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
  = yield
  %script{:src => "assets/plugin.js"}
  %script{:src => "assets/custom.js"}
